

<div *ngIf="bets.length >= 1">
  <h1 class="titulo">Apuestas pendientes</h1>
<div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card" *ngFor="let e of pepe"> 
            <div class="card-header">
                {{ e.bettingHouse}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{ e.sport }}
                    {{ e.created_at}}
                </div>
                <div class="card-text">
                    {{ e.betDescription }}
                </div>
            </div>
            <div class="card-footer">
                <a [routerLink]="['/bet/detail', e._id]"><img class="lupa" src="https://res.cloudinary.com/lloren27/image/upload/v1526339343/add-searching.png"></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <a [routerLink]="['/profile']" class="btn btn-success iraperfil" >Ir al Perfil</a> -->