.lupa{
    width: 50px;
}
.descripcion{
    display: inline-block;
}
.titulo{
    color: #318700;
    margin-left: 50px;
}
.col-xs-12{
    margin-left: 50px;
    text-align: center;
}
.iraperfil{
    margin-left: 50px;
    margin-top:20px;
}