<div class="selectstats" >
  <button (click)="gotoSpots()"class="btn btn-success">Apuestas por deporte</button>
  <button (click)="gotoResult()" class="btn btn-success">Estadisticas de apuestas realizadas</button>
</div>
<!-- ////////////////////////////////////datos por deporte/////////////////////////////////////////// -->
<div *ngIf="isFalse" class="resume">
        <div class="divtot"><h3 class="totales">TOTAL: {{totals.length}}</h3></div>
        <ul>
            <li class="futbol">Futbol: {{futbol.length}}<img  src="https://res.cloudinary.com/lloren27/image/upload/v1526333413/futbol.png"></li>
            <li class="baloncesto">Baloncesto: {{baloncesto.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333413/basketball.png"></li>
            <li class="tenis">Tenis: {{tenis.length}}<img src="http://res.cloudinary.com/lloren27/image/upload/v1526333414/tennis-racket.png"></li>
            <li class="f1">F1: {{f1.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333413/f1-car.png"></li>
            <li class="motos">Motociclismo: {{motos.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/motorcycle.png"></li>
            <li class="golf">Golf: {{golf.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/golf.png"></li>
            <li class="eSports">eSports: {{eSports.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/gamepad.png"></li>
            <li class="calgos">Galgos: {{galgos.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/greyhound.png"></li>
            <li class="caballos">Carrera de caballos: {{caballos.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/horse.png"></li>
        </ul>

<!-- ////////////////////////////////////grafico por deporte /////////////////////////////////////////// -->
<div style="display: block">
        <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [chartType]="radarChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [options]="chartOptions">
            </canvas>
      </div>
</div>
<!-- ////////////////////////////////////datos monetarios /////////////////////////////////////////// -->

<div *ngIf="isDataAvailable" class="resume">
    <div class="divtot"><h3 class="totales">TOTAL: {{totals.length}}</h3></div>
    <p class="ganada">Ganadas: {{wins.length}}
    <img  src="http://res.cloudinary.com/lloren27/image/upload/v1526333414/smile.png">
    </p>
    <p class="perdida">Perdidas: {{losts.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/sad.png"></p>
    <p class="cashout">Cash Out: {{cashs.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333413/exclamation.png"></p>
    <p class="pending">Pendientes: {{pending.length}}<img src="https://res.cloudinary.com/lloren27/image/upload/v1526333414/icon_1.png"></p>
    <p class="ganada">Importe Apostado: {{dineroApostado}}€ </p>
    <p class="ganada">Importe Ganado: {{tganado}}€  </p>
    <p class="ganada">Beneficio Real:{{(tganado-dineroApostado).toFixed(2)}}€ </p>
<!-- ////////////////////////////////////gráfico monetario /////////////////////////////////////////// -->
    <div style="display: block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
</div>
</div>
