.selectstats{
    
    margin-top: 30px;
    text-align: center;
}
.resume{
    border: 3px solid #318700;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.ganada{
    display: inline;
    margin-left: 20px;

}
.perdida{
    display: inline;
    margin-left: 15px;
}
.pending{
    display: inline;
    margin-left: 15px;

}
.cashout{
    display: inline;
    margin-left: 15px;
}
.iraperfil{
    margin-left: 50px;
}
.totales{
    margin-top: 0px;
    color:white;
}
.divtot{
    background-color: #318700;
    border: 1px solid #318700;
    border-radius: 5px;
}
img{
    width: 35px;
    margin-left: 22px;
    margin-top:10px;
}

.futbol{
    display: inline;
    margin-left: 15px;
}
.baloncesto{
    display: inline;
    margin-left: 15px;
}
.tenis{
    display: inline;
    margin-left: 15px;
}
.f1{
    display: inline;
    margin-left: 15px;
}
.motos{
    display: inline;
    margin-left: 15px;
}
.golf{
    display: inline;
    margin-left: 15px;
}
.eSports{
    display: inline;
    margin-left: 15px;
}
.calgos{
    display: inline;
    margin-left: 15px;
}
.caballos{
    display: inline;
    margin-left: 15px;
}