
<div class="row" *ngIf="bet">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h1 class="descripcion">APUESTA: {{ bet.betDescription }} </h1>
            </div>
            <div class="card-block">
                <div class="card-title">
                    <h4> Deporte: </h4> <span>{{ bet.sport }}</span>
                    <h4>Importe Apostado:</h4><span>{{ bet.moneyBet }} € </span>
                    <h4> Cuota de Apuesta:</h4><span> {{ bet.bettingFee }} € </span>
                    <h3>Ganancias Potenciales:</h3><span class="posibles"> {{(bet.moneyBet * bet.bettingFee)}} €</span>   
                </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-success btn-sm" (click)= "betWin()" >Ganada</button>
              <button class="btn btn-danger  btn-sm" (click)= "betLoose()">Perdida</button>
              <button class="btn btn-cashOut btn-sm" (click)= "betCashout()" >Cash Out</button>
              <input  class="entrar" type="number" [(ngModel)]="cashOut" name="cashOut" placeholder="Cashout"/>
            </div>
        </div>
    </div>
</div>

<a [routerLink]="['/bets']" class="btn btn-success irpefil">Volver a mis apuestas</a>