
<div class="row" *ngIf="bet">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h1>APUESTA: {{ bet.betDescription }} </h1>
            </div>
            <div class="card-block">
                <div class="card-title">
                    <h4> DEPORTE: {{ bet.sport }} </h4>
                    <p>CANTIDAD APOSTADA: {{ bet.moneyBet }} € </p>
                    <p> CUOTA DE APUESTA: {{ bet.bettingFee }} € </p>
                    <h3>GANANCIAS Potenciales: {{(bet.moneyBet * bet.bettingFee)}} €</h3>     
                </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-success btn-sm" (click)= "betWin()" >Ganada</button>
              <button class="btn btn-danger  btn-sm" (click)= "betLoose()">Perdida</button>
              <button class="btn btn-cashOut btn-sm" (click)= "betCashout()" >Cash Out</button>
              <input type="number" [(ngModel)]="cashOut" name="cashOut" placeholder="Cashout"/>
            </div>
        </div>
    </div>
</div>

<!-- <a [routerLink]="['/profile']" class="btn btn-success irpefil">Ir al Perfil</a> -->