.titulo{
    text-align: center;
    color:#318700;
    font-size:90px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Graduate', cursive;
}
form{
    text-align: center;
}
.campos{
    margin-bottom: 30px;
    font-family: 'Viga';
    color: #434642
}
button{
    background-color:#318700!important;
    color:white!important;
    border-color: white;
    width: 400px;
    height: 100px;
    font-size: 30px;
    padding:20px;
}