<clr-main-container>
<clr-header class="header-6 barra">

        <div class="branding"*ngIf="!sessionService.user">
            <a class="hola"[routerLink]="['']">Home</a>
        </div>

        <div class="branding"*ngIf="sessionService.user">
            
                <!-- <clr-icon shape="coin-bag"></clr-icon> -->
                <a [routerLink]="['/profile']">
                        <span class="title">Bet-Control</span></a>
        
        <div class="header-nav lateral"[clr-nav-level]="1">
                <a class="nav-link" [routerLink]="['/bet/new']"><span class="nav-text"><img src="https://res.cloudinary.com/lloren27/image/upload/v1526245037/outline_add_circle_outline_black_18dp.png"> Nueva Apuesta</span></a>
                <a class="nav-link" (click)="gotoBets()"><span class="nav-text"><span class="appendientes">{{bets.length}}</span>Ver apuestas pendientes</span></a>
                <a class="nav-link"[routerLink]="['/statistics']"><span class="nav-text">Resultado/Estadisticas</span></a>
                <a class="nav-link" (click)="logout()"><span class="nav-text">Logout</span></a>
        </div>
           
        </div>
    
    </clr-header>
<script src="node_modules/chart.js/src/chart.js"></script>
<router-outlet></router-outlet>

</clr-main-container>
