<header class="header-6">

        <div class="branding"*ngIf="!sessionService.user">
            <a class="hola"[routerLink]="['']">Home</a>
        </div>

        <div class="branding"*ngIf="sessionService.user">
            
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Bet-Control</span> 
                <div class="header-actions">

            <div class="nav-link nav-text">
                 <button class="btn btn-success" [routerLink]="['/bet/new']">
                    <img src="http://res.cloudinary.com/lloren27/image/upload/v1526245531/outline_add_circle_outline_white_18dp.png"> 
                     Nueva Apuesta
                </button>
                <button class="btn  btn-success" (click)="gotoBets()"> 
                    Apuestas Pendientes 
                </button>
                <button class="btn btn-success" [routerLink]="['/statistics']">
                    Resultados/Estadisticas
                </button>
                <button class="btn btn-success" (click)="logout()">
                  Logout
                </button>
            </div>
        </div>
           
        </div>
       
    </header>
<router-outlet></router-outlet>


