

<form>
  <h2 class="titulo"> Crea una nueva Apuestas</h2>
  <div hidden="hidden" >{{user._id}}</div>
  <div>
    <label> Casa de apuestas </label>
    <select #select>
      <option *ngFor="let e of bettingHouses" [value]="e._id">
        <p>{{e.name}}</p>
      </option>
    </select>
  </div>
  <br>
  <label> Deporte </label>
  <input type="text" [(ngModel)]="sport" name="sport" />
  <br>
  <label> Descripción de la apuesta </label>
  <input type="text" [(ngModel)]="betDescription" name="betDescription" />
  <br>
  <label> Cantidad apostada </label>
  <input type="number" [(ngModel)]="moneyBet" name="moneyBet" />
  <br>
  <label> Cuota de apuesta </label>
  <input type="number" [(ngModel)]="bettingFee" name="bettingFee" />
  <br>
  <div>
    <button class="btn btn-success btn-sm" (click)="createNewBet(user._id,select.value,sport,betDescription,moneyBet,bettingFee)">Crear Apuesta </button>
  </div>
</form>
<p class="error"> {{ error }} </p>

<a [routerLink]="['/profile']" class="btn btn-success iraperfil">Ir al Perfil</a>